.main{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: url("https://projexc.files.wordpress.com/2013/07/pm-tool-logo-clouds.jpg");
background-color: currentColor;
background-blend-mode: overlay;
}
label{
    font-weight: bold;
    font-family: verdana;
}

.flexbox{
width: 30%;
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: whitesmoke;
//border: 6px ridge darkcyan;
border-radius: 20px;
opacity: 0.88;
background: url("../resources/img/loginbg.png");
background-size: contain;
}
.flexitem{
width: 90%;
margin-bottom: 12px;
}
.loginmsg{
text-align: center;
margin-bottom: 2px;
font-style: italic;
font-size: 13.5px;
color: red;
height: 20px;
}
.flexitembtn{
width: 30%;
margin-bottom: 5px;
border: 2px white solid;
}
.flex-itemHeading{
text-align: center;
color: rgb(8, 102, 102);
font-weight: bold;
letter-spacing: 3px;
margin-top: 15px;
}
.link-access-div{
color: white;
text-shadow: 2px 2px crimson;
margin-right: auto;
width: 100%;
}

ul li{
display: inline;
list-style-type: none;
}

li:hover{
color: darkblue;
cursor: pointer;
}
ul{
padding: 0px;
}
.leftLi{
float: left;
margin-left: 9px;
}
.rightLi{
float: right;
margin-right: 9px;
}